$animation-duration: 0.4s;
.behind {
  animation: hide $animation-duration forwards ease-out;
}

@keyframes hide {
  0% {
    z-index: 10;
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  50% {
    z-index: 10;
    opacity: 1;
    transform: translateY(-50%) translateX(5%) scale(1);
  }
  100% {
    z-index: 1;
    opacity: 0.8;
    transform: translateY(0) translateX(10%) scale(0.7);
  }
}

.ahead {
  animation: show $animation-duration forwards ease-out;
}

@keyframes show {
  0% {
    z-index: 1;
    transform: translateY(0) translateX(10%) scale(0.7);
  }
  20% {
    z-index: 1;
    transform: translateY(50%) translateX(5%) scale(0.7);
  }
  100% {
    z-index: 10;
    transform: translateY(0) translateX(0%) scale(1);
  }
}
