.horizontal-list-item-enter {
  opacity: 0;
  transform: translateX(-10%);
}
.horizontal-list-item-enter-active {
  opacity: 1;

  transform: translateX(0);
}
.horizontal-list-item-exit {
  opacity: 1;
  position: absolute;
}
.horizontal-list-item-exit-active {
  opacity: 0;
  transform: translateX(10%);
}
.horizontal-list-item-enter-active,
.horizontal-list-item-exit-active {
  transition: all 300ms;
}
