.next-stage-preview__popup {
  position: absolute;
  inset: 0;
  animation: fade-in 0.3s forwards;
  opacity: 0;
  .next-stage-preview__popup--background {
    z-index: 1;
    position: absolute;
    inset: 0;
  }
  .next-stage-preview__popup--content {
    z-index: 2;
    opacity: 0;
    animation: content-enter 0.3s forwards;
    animation-delay: 0.3s;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes content-enter {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
